QTreeView::item {
	padding-top: 2;
	padding-bottom: 2;
}

QTreeView#navigator::item {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	color: inherit;
}

QTextEdit#plainMessage {
	font-family: Liberation Mono;
	font-size: 10pt;
}

QTextEdit#bodyHtml {
	font-size: 11pt;
	font-family: Calibri, Arial, Helvetica;
}

QTextEdit#bodyHtmlHeading {
	font-size: 11pt;
	font-family: Calibri, Arial, Helvetica;
}
